<!Doctype html>
<html lang="en">
	<head>
		<title>Tander | Dating,make friends and meet new people</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="images/icon.png">
		<link rel="stylesheet" type="text/css" href="styles/index.css">
	</head>
	<body>
		<div id="tab">
			<img id="iconBar" src="images/bigIcon.png"><h1>Tander</h1>
			<a href="{{ path('login')}}"><button id="logIn">LOG IN</button></a>
		</div>
		<div id="alignButton">
			<a href="{{ path('createAccount')}}"><button id="createAccount">CREATE ACCOUNT</button></a>
		</div>
		
	</body>
</html>