<!Doctype html>
<html lang="en">
	<head>
		<title>Tander | Dating,make friends and meet new people</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="../images/icon.png">
		<link rel="stylesheet" type="text/css" href="../styles/login.css">
	</head>
	<body>
		<div id="tab">
			<img id="iconBar" src="../images/bigIcon.png"><h1>Tander</h1>
		</div>
		<div class="Menu">

<a href="{{path('inicio')}}"><button>Home</button></a>

</div>
		<div id="content">
		<div>
		<form method="post" action="{{path('loginAccount')}}">
			<img src="../images/heart.png"><br>
			<input type="text" name="username" placeholder="Username">
			<br><input type="password" name="password" placeholder="Password"><br>
			<input type="submit" value="Log In">
		</form>
		</div>
		<div>
		<form method="POST" action="{{path('restablishPassword')}}">
		<input type="submit" value="Forgiven Password?">
		</form>
		</div>
	</div>
	
	</body>
</html>