<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/resetPassword.css">
    </head>
    <body>
    <div class="Menu">
<a href="{{path('inicio')}}"><button>Home</button></a>
</div>
    <div class="interface">

    <div class="picture">

    </div>
    <div class="form">
        <h2>Reset Password</h2>
        <p>1. Enter your username and email in order <br>to verify who you are and restablish your password.</p>
        <p>2. Verify your email to obtain <br>the instructions for password resetting</p>
        <form method="POST" action="{{path('emailRestablish')}}">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
            <br>
            <input type="submit" value="Reset Password"> 
        </form>

<h2>Only if you have reset code</h>
        <form method="POST" action="{{path('resetCode')}}">
            <input type="text" name="code" placeholder="Code for password reset">
            <input type="password" name="newPassword" placeholder="New password">
            <br>
            <input type="submit" value="Change password">
        </form>
        <div>
    </div>
</body>
</html>

    